<footer class="text-muted mt-5">
  <div class="container">
    <div class="row pt-5 pb-3">
      <div class="col-sm-12 text-center">
        <p>&copy; <span id="footer-year"></span> Atoviag tastylog. All Rights Reserved.</p>
        <a href="/overview" style="color: #fff; font-weight: bold;" type="button" class="btn btn-info">Application Overview</a>
      </div>
    </div>
  </div>
</footer> 